@media only screen and (min-width: 0) {
    body {
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas: 
        "header"
        "titulo1"
        "texto1"
        "texto2"
        "titulo2"
        "texto3"
        "texto4"
        "footer";
    }
}

@media only screen and (min-width: 768px) {
    body {
        grid-template-columns: 50% 50%; 
        grid-template-rows: auto;
        grid-template-areas: 
        "header header"
        "titulo1 titulo1"
        "texto1 texto2"
        "titulo2 titulo2"
        "texto3 texto4"
        "footer footer";
    }
}

@media only screen and (min-width: 1024px) {
    body {
        grid-template-columns: 25% 25% 25% 25%; 
        grid-template-rows: auto;
        grid-template-areas: 
        "header header header header"
        ". titulo1 titulo1 ."
        ". texto1 texto2 ."
        ". titulo2 titulo2 ."
        ". texto3 texto4 ."
        "footer footer footer footer";
    }
}

h1 {
    font-size: 5rem;
    font-weight: 800;
    font-style: italic;
    text-align: center;
    color: #603E33;
}

h2 {
    font-size: 3rem;
    text-align: center;
    color: #6C4932;
}

section p {
    font-style: italic;
    text-align: justify;
    font-size: 1.25rem;
    color: #6C4932;
}

section span {
    font-size: 1.5rem;
    color: #6C4932;
    font-weight: 800;
}

#titulo1 {
    grid-area: titulo1;
    align-self: center;
}

#texto1 {
    grid-area: texto1;
    align-self: flex-start;
}

#texto2 {
    grid-area: texto2;
    align-self: flex-start;
}

#titulo2 {
    grid-area: titulo2;
    align-self: center;
}

#texto3 {
    grid-area: texto3;
    align-self: flex-start;
}

#texto4 {
    grid-area: texto4;
    align-self: flex-start;
}