@import "colores";
header {
z-index: 10;
background: rgba(255, 255, 255, 0.75);
position: fixed;
right: 0;
left: 0;
}

@media (min-width: 768px) {
header nav {
    text-align: center;
}
}
@media (min-width: 992px) {
header nav {
    text-align: right;
}
}
@media (max-width: 767px) {
header nav {
    display: none;
}
}
header nav ul {
margin: 0;
padding: 0;
}
header nav li {
list-style: none;
display: inline-block;
}
@media (min-width: 768px) {
header nav li {
    padding: 0 5px;
}
}
@media (min-width: 992px) {
header nav li {
    padding: 0 3px;
}
}
@media (min-width: 1200px) {
header nav li {
    padding: 0 10px;
}
}
header nav a {
font-weight: 700;
font-size: 12px;
padding: 11px 0;
}
header nav a:hover {
border-bottom: 1px solid;
}
.navbar-light .navbar-nav .nav-link {
color: $c-medio;
font-size: 15px;
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
color: $c-oscuro;
}
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .nav-link.active {
color: $c-oscuro;
font-style: oblique;
}
.dropdown-item {
color: $c-oscuro;
font-size: 15px;
}
.dropdown-menu {
text-align: center;
background-color: rgba(255, 255, 255, 0.75);
border: 1px solid $c-oscuro
}
.dropdown-item:hover, .dropdown-item:focus {
color: $c-medio;
font-weight: bold;
background-color: transparent;
}
.dropdown-item.active, .dropdown-item:active {
color: $c-mclaro;
text-decoration: none;
background-color: $c-oscuro;
font-style: oblique;
font-weight: bold;
}  
.trianguloFooter {
margin-top: 150px;
padding-top: 150px;
position: relative;
}
.trianguloFooter svg {
position: absolute;
bottom: 0;
width: 100%;
height: 15vw;
}
footer {
background: $c-oscuro;
position: relative;
padding-top: 0px;
}
@media (max-width: 767px) {
footer {
    padding: 50px 0;
}
}
footer .contenido {
position: relative;
z-index: 2;
right: 0;
left: 0;
}
footer .logo {
position: absolute;
right: 0;
left: 0;
z-index: 2;
display: block;
margin: 0 auto;
width: 100px;
}
@media (min-width: 768px) {
footer .logo {
    top: -110px;
}
}
@media (max-width: 767px) {
footer .logo {
    top: -70px;
}
}
footer .contacto {
text-align: center;
}
footer h4 {
font-size: 14px;
font-weight: 500;
color: $c-medio;
}
footer span {
color: $c-mclaro;
font-weight: 400;
font-size: 12px;
}
footer .deabajo {
padding: 20px;
font-weight: 600;
font-size: 11px;
color: $c-mclaro;
max-width: 673px;
margin: 0 auto;
}
@media (max-width: 767px) {
footer .deabajo {
    text-align: center;
    padding: 10px 0;
}
}
footer .deabajo .copyr {
padding-top: 10px;
}
footer .deabajo .social {
text-align: center;
}
footer .deabajo .social a {
color: red;
font-size: 26px;
padding: 0 5px;
}
footer .deabajo .social a:hover {
color: red;
}
footer .deabajo a {
color: red;
font-size: 11px;
font-weight: 600;
}
footer .deabajo a:hover {
color: red;
}
.navbar {
padding-top: 0;
}
header nav {
margin-top: 8px;
}