@import "colores";
.introduccion article {
text-align: center;
padding: 20px 0 40px;
}
@media (min-width: 1200px) {
.introduccion article {
    max-width: 800px;
    margin: 0 auto;
}
}
@media (max-width: 767px) {
.introduccion article {
    padding: 40px 0 30px;
}
}
.introduccion article h4 {
font-weight: 500;
font-size: 1.5rem;
margin: 0 0 5px;
}
.introduccion article h1 {
font-weight: 900;
margin: 0 0 25px;
}
@media (min-width: 768px) {
.introduccion article h1 {
    font-size: 3.5rem;
}
}
@media (min-width: 992px) {
.introduccion article h1 {
    font-size: 4rem;
}
}
@media (min-width: 1200px) {
.introduccion article h1 {
    font-size: 4.5rem;
}
}
@media (max-width: 767px) {
.introduccion article h1 {
    font-size: 3rem;
}
}
.introduccion article p {
font-weight: 400;
font-size: 1.5rem;
color: $c-moscuro;
line-height: 1.5em;
margin-bottom: 40px;
}
.introduccion article p strong {
font-size: 1.75rem;
}
.redaccionTextos {
padding: 25px 0 0 0;
text-align: center;
}
.redaccionTextos h4 {
margin-top: 100px;
}
@media (max-width: 767px) {
.redaccionTextos h4 {
    margin-top: 40px;
}
}
.redaccionTextos h1 {
font-weight: 900;
}
@media (min-width: 768px) {
.redaccionTextos h1 {
    font-size: 4rem;
}
}
@media (min-width: 992px) {
.redaccionTextos h1 {
    font-size: 5rem;
}
}
@media (min-width: 1200px) {
.redaccionTextos h1 {
    font-size: 6rem;
}
}
@media (max-width: 767px) {
.redaccionTextos h1 {
    font-size: 3rem;
}
}
.redaccionTextos h2 {
font-weight: 900;
font-size: 4rem;
margin-bottom: 22px;
padding-top: 30px;
}
.redaccionTextos h3 {
font-weight: 700;
font-size: 2.5rem;
margin: 20px;
}
.redaccionTextos p {
text-align: justify;
font-weight: 400;
font-size: 1.6rem;
line-height: 1.6em;
}
.redaccionTextos h5 {
text-align: center;
font-weight: 600;
font-size: 1.6rem;
line-height: 1.6em;
}
.redaccionTextos ul {
margin: 0;
padding: 0 0 40px 25px;
}
.redaccionTextos li {
text-align: left;
font-weight: 400;
font-size: 1.6rem;
color: $c-moscuro;
line-height: 1.6em;
}
.redaccionTextos img, .redaccionRecetas img {
    width: 75%;
}
.redaccionRecetas {
padding: 56px 0 80px;
}
.redaccionRecetas h3 {
text-align: justify;
font-weight: 700;
font-size: 5rem;
padding-top: 40px;
}
.redaccionRecetas p {
text-align: justify;
font-weight: 400;
font-size: 1.6rem;
line-height: 1.6em;
}
.redaccionRecetas ul {
margin: 0;
padding: 0 0 0 25px;
}
.redaccionRecetas li {
font-weight: 400;
font-size: 16px;
color: $c-moscuro;
line-height: 1.6em;
}
.formulario {
margin: 50px 0;
}
.formulario h2 {
font-weight: 900;
font-size: 3rem;
}
.formulario p {
font-size: 1.75rem;
font-weight: 400;
line-height: 1.6em;
}
.formulario p strong {
font-size: 1.75rem;
color: $c-oscuro;
}
.formulario a {
font-size: 1.75rem;
color: $c-moscuro;
font-weight: 400;
line-height: 1.6em;
}
.formulario .form label {
font-weight: 500;
color: $c-oscuro;
font-size: 1.5rem;
display: block;
margin-bottom: 7px;
}
.formulario .form input {
width: 100%;
font-size: 1.5rem;
padding: 10px;
color: $c-mclaro;
border: 1px solid $c-oscuro;
margin-bottom: 30px;
}
.formulario .form textarea {
width: 100%;
font-size: 1.5rem;
padding: 10px;
color: $c-mclaro;
border: 1px solid $c-oscuro;
margin-bottom: 30px;
}
.formulario .form select {
width: 100%;
font-size: 1.5rem;
padding: 10px;
color: $c-mclaro;
border: 1px solid $c-oscuro;
margin-bottom: 30px;
}
.formulario .form select option {
font-size: 1.5rem;
color: $c-mclaro;
}
.formulario .form button {
margin-top: 30px;
margin-bottom: 20px;
}