.body__footer {
    color: #603E33;
    grid-area: footer;
    font-size: 3rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    background-color:#A37555;
}

footer img {
    width: 3rem;
}

footer ul {
    text-align: right;
    list-style: none;
    font-size: 2.5rem;
}

footer img:hover {
    transform: scale(1.1);
}