@import "colores";

/* Inicio Portada Carrousel*/

.titulo {
position: absolute;
right: 0;
left: 0;
top: 50%;
transform: translatey(-50%);
text-align: center;
z-index: 2;
}
.titulo h3 {
font-weight: 500;
text-shadow: 0px 0px 5px $c-oscuro;
color: white;
margin: 0;
}
.titulo h2, .titulo h1 {
font-weight: 900;
font-size: 6rem;
color: white;
text-shadow: 0px 0px 5px $c-oscuro;
margin: 0;
}
@media (min-width: 767px) {
    .carrousel .titulo {
        top: 30%;
    }
    .carrousel .titulo h3 {
        font-size: 2rem;
    }
    .carrousel .titulo h2 {
        font-size: 4.5rem;
    }
}
@media (min-width: 992px) {
    .carrousel .titulo {
        top: 50%;
    }
    .carrousel .titulo h3 {
        font-size: 2rem;
    }
    .carrousel .titulo h2 {
        font-size: 5.5rem;
    }
}
@media (min-width: 1200px) {
    .carrousel .titulo h2 {
        font-size: 6rem;
    }
    }
@media (max-width: 767px) {
    .carrousel .titulo {
        top: 20%;
    }
    .carrousel .titulo h3 {
        font-size: 1.5rem;
    }
    .carrousel .titulo h2 {
        font-size: 3.5rem;
    }
}

/* Fin Portada Carrousel*/

/* Inicio Portada General*/

.portada {
position: relative;
height: 70vh;
}
@media (min-width: 767px) {
.portada .titulo h3 {
    font-size: 1.5rem;
}
.portada .titulo h1 {
    font-size: 4.5rem;
}
}
@media (min-width: 992px) {
.portada .titulo h3 {
    font-size: 2rem;
}
.portada .titulo h1 {
font-size: 5.5rem;
}
}
@media (min-width: 1200px) {
.portada .titulo h1 {
    font-size: 6rem;
}
}
@media (max-width: 767px) {
.portada .titulo h3 {
    font-size: 1.5rem;
}
.portada .titulo h1 {
font-size: 3.5rem;
}
}
.portada .imagen {
width: 100%;
height: 100%;
overflow: hidden;
background: $c-oscuro;
}
.portada .imagen img {
width: 100%;
height: 100%;
object-fit: cover;
object-position: middle center;
opacity: 0.85;
}
.trianguloPortada {
position: absolute;
z-index: 2;
right: 0;
left: 0;
display: block;
}
.trianguloPortada svg {
position: absolute;
bottom: 0;
width: 100%;
height: 15vw;
}

/* Fin Portada General*/