@charset "UTF-8";
* {
  font-family: 'Montserrat', sans-serif;
  font-size: 62.5%;
  /*Cambios generales*/ }

body {
  background-color: #C6A37C;
  display: grid;
  margin: 0; }

section {
  font-weight: 500;
  font-size: 3rem;
  padding: 1rem; }

a {
  color: #322623;
  text-decoration: none; }

.body__header {
  grid-area: header;
  position: sticky;
  /*Se queda siempre visible arriba*/
  top: 0;
  padding: 0 1rem 0 1rem; }

.header__nav {
  border-radius: 1rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  background-color: #A37555; }

nav ul {
  border: solid #322623;
  background-color: #603E33;
  border-radius: 1rem;
  margin: 0;
  padding: 0;
  text-align: center; }

nav ul a {
  color: #C6A37C; }

nav li {
  display: inline-block;
  position: relative;
  font-size: 2rem;
  padding: 0.5rem; }

nav ul a:hover {
  background-color: #C6A37C;
  color: #322623;
  /*Cambiar de color la letra cuando se esta sobre cada palabra*/ }

nav ul ul {
  position: absolute;
  display: none; }

nav ul ul li {
  display: block; }

nav ul li:hover ul {
  display: block;
  background-color: #603E33;
  border-radius: 1rem; }

.body__footer {
  color: #603E33;
  grid-area: footer;
  font-size: 3rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  background-color: #A37555; }

footer img {
  width: 3rem; }

footer ul {
  text-align: right;
  list-style: none;
  font-size: 2.5rem; }

footer img:hover {
  transform: scale(1.1); }

@media only screen and (min-width: 0) {
  /*Dispositivos pequeños*/
  body {
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: "header" "cuerpo" "texto" "botones" "footer"; } }

@media only screen and (min-width: 768px) {
  /*Dispositivos medianos*/
  body {
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "header header" "cuerpo texto" "botones botones" "footer footer"; } }

@media only screen and (min-width: 1024px) {
  /*Dispositivos grandes*/
  body {
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "header header" "cuerpo texto" "cuerpo botones" "footer footer"; } }

section img {
  border-radius: 1rem;
  border: solid #603E33 0.5rem; }

.nav__h1--titulo {
  font-size: 5rem;
  font-weight: 800;
  font-style: italic;
  text-align: center;
  color: #603E33; }

.section__h2--subtitulo {
  font-size: 3rem;
  text-align: center;
  text-transform: capitalize;
  color: #6C4932; }

.section__button {
  font-size: 5rem;
  -webkit-text-stroke: 0.1rem #C6A37C;
  color: #603E33;
  border-radius: 1rem;
  background-image: url(../media/img/boton.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.section__button--a {
  font-size: 5rem;
  -webkit-text-stroke: 0.1rem #C6A37C;
  color: #603E33; }

a:hover {
  color: #603E33; }

section button:hover {
  transform: scale(1.1);
  /*El boton aumentara su tamaño para que sea mas facil de seleccionar*/ }

.section__p--texto {
  font-size: 1.5rem;
  color: #6C4932;
  text-align: justify; }

/*Secciones del grid*/
#cuerpo {
  grid-area: cuerpo;
  text-align: center;
  margin-bottom: 3rem; }

#texto {
  grid-area: texto;
  align-self: center;
  padding: 0 10rem 0 10rem; }

#botones {
  grid-area: botones;
  text-align: center; }
